@font-face {
    font-family: 'Agenor Thin';
    src: url('fonts/agenor-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos gerais */
body {
    background-color: #FDEECD;
    font-family: 'Agenor Thin', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

/* Estilo da imagem */
#logo {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    background: none;
}

/* Título centralizado */
#titulo {
    text-align: center;
    margin-top: 10px;
    font-size: 2em;
    color: #333;
}

/* Listas de salgados e doces */
ul {
    padding: 0;
}

#salgados-lista,
#salgados-forno-lista,
#lista-selecionados,
#doces-simples-lista,
#doces-finos-banhados-lista {
    list-style-type: none;
    width: 80%;
    text-align: left;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
}

/* Alinhamento dos itens da lista */
.salgado-item,
.doce-item {
    display: flex;
    justify-content: space-between; /* Separar texto e checkbox */
    align-items: center; /* Alinhar verticalmente */
    text-transform: uppercase; /* Colocar texto em maiúsculas */
}

li input[type="checkbox"] {
    margin-left: auto; /* Empurra o checkbox para o canto direito */
    width: 25px;
    height: 25px;
    accent-color: #000000; /* Cor do checkbox */
}

/* Responsividade para listas */
@media (max-width: 768px) {
    ul {
        width: 100%;
        padding-left: 20px;
    }
}

/* Botões */
#botao-imagem,
#botao-finalizar {
    margin-bottom: 200px;
    width: 300px;
    height: auto;
    border: none;
    background: none;
}

/* Inputs personalizados */
input[type="number"] {
    width: 60px;
    height: 40px;
    font-family: 'Agenor Thin', sans-serif;
    font-size: 1em;
    color: #000;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-image: url('imagens/input-background.png');
    background-size: cover;
}

input[type="text"],
input[type="date"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo dos campos de nome e data */
.campo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 5px;
    text-align: center;
}

/* Listas de selecionados */
#salgados-selecionados,
#doces-selecionados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#salgados-selecionados h2,
#doces-selecionados h2 {
    text-align: center;
    margin-bottom: 20px;
}

#salgados-selecionados ul,
#doces-selecionados ul {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
}

#salgados-selecionados li,
#doces-selecionados li {
    text-align: center;
    width: 100%;
}

/* Estilo dos itens da lista */
.salgado-item,
.doce-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    margin: 10px 0;
}

.salgado-item input[type="number"],
.doce-item input[type="number"] {
    margin-left: 20px;
}
